<div class="container">
<div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <% flash.each do |key, value| %>
  <% status = key == :notice ? "success" : "success" %>
  <%= content_tag(:div, value, class: "alert alert-#{status}") %>
<% end %>
  <img src="<%= asset_path "top-image2.png" %>" class="img-responsive">
</div>
</div>
<footer class="footer">
  <p>Copyright &copy; 2017 copyright Akihiro Nemoto All Rights Reserved.</p>
</footer>
