<div class="container top-image">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "top-image2.png" %>" class="img-responsive center-block">
</div>
<footer class="footer">
  <p>Copyright &copy; 2017 copyright Akihiro Nemoto All Rights Reserved.</p>
</footer>
