<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
      <h2>メッセージ</h2>
      <% @conversations.each do |conversation| %>
          <% if conversation.target_user(current_user).present? %>
          <div class="conversation">
            <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation)%>
          </div>
          <% end %>
      <% end %>
</div>
</div>
