// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#top-img {
  margin: 0 auto;
  vertical-align: middle;
  margin-top: 100px;
}

footer {
 width: 100%;
 background-color:#fff;
 padding: 20px 0 10px 0;
 margin: 0 auto;
 padding-bottom: 10px;
 font-size: 12px;
 position: absolute;
 bottom: 0;
}
footer > p {
  padding-top: 10px;
}
.flash{
  color: #000;
}
