// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  height: 300px;
  margin-bottom: 10px;
}
.container-child {
  height: 70px;
  width: 70px;
}
.user-image {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}
