<header class="navbar">
  <nav>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "rootbook", root_path, id: "rootbook" %></li>
    </ul>
    <div id="nav-right">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "ログイン", '#', id: "link" %></li>
      <li><%= link_to "新規登録", '#', id: "link" %></li>
    </ul>
  </div>
  </nav>
</header>
